<div class="title">
    <h3>TASK CARDS TIMER</h3>
</div>
<div *ngIf="cards" class="card-grid">
    @for (card of cards; track $index) {
        <div class="card">
            <div class="card-name">
                {{card.name}}
            </div>
            <div class="card-timer">
                {{card.time * 1000 | date:'H:mm:ss':'UTC'}}
            </div>
            <div class="card-actions">
                @if (!card.active) {
                    <button type="button"(click)="buttonActionPlay($index)">
                        <span class="glyphicon glyphicon-play"></span> ► START 
                    </button>
                } @else {
                    <button type="button"(click)="buttonActionStop($index)">
                        <span class="glyphicon glyphicon-play"></span> PAUSE
                    </button>
                }
                <button type="button"(click)="buttonActionDelete($index)">
                    <span class="glyphicon glyphicon-play"></span> DELETE
                </button>
            </div>
        </div>
    }
    <div class="add-task">
        <h2 *ngIf="!cards.length">CREATE A NEW TASK!</h2>
        <button id="plusbtn" (click)="newTask()">&#43;</button>
    </div>
</div>
<div *ngIf="modal" class="overlay">
    <div class="modal">
        <div>
            <span>Create a task </span>
        </div>
        <div>
            <input #cardTitle placeholder="Task name" type="text">
        </div>
        <div class="modal-buttons">
            <button (click)="createTask(cardTitle.value)">Create</button>
            <button (click)="cancelTask()">Cancel</button>
        </div>
    </div>    
</div>
