.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.button {
    border: 1px outset blue;
    background-color: lightBlue;
    height:50px;
    width:50px;
    cursor:pointer;
 }
 
 #plusbtn:hover {
    background-color: rgb(24, 24, 88);
    color:white;
 }

 #plusbtn {
    width: 35px;
    height: 35px;
    border-bottom: solid 2px #4F3C35;
    background-color:#377BB5;
    color:white;
    border-radius:50%;
    font-size:35px;
    display:flex;
    margin: 15px 10px;
    justify-content:center;
    align-items: center;
    position: relative;
    vertical-align: top;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-items: center;
    align-items: center;
    .card {
        width: 20vw;
        border: solid 5px  #377BB5;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        div {
            margin: 8px;
        }
        .card-actions {
            display: flex;
            button {
                margin-left: 10px;
            }            
        }
    }
}
.overlay {
    position: fixed; /* Positioning and size */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(128,128,128,0.5); /* color */
    
    .modal {
        width: 20vw;
        border: solid 5px  #377BB5;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        div {
            padding-bottom: 15px;
            padding-top: 15px;
        }
        .modal-buttons {
            button {
                margin-right: 10px;
            }    
        }
    }
}

